.errorBox{
  display: flex;
  width: 500px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background: var(--secondary-text-color);
  border-top: 2px solid var(--primary-color);
  border-radius: 5px;
}