.movieInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.movieWrapper {
  display: flex;
  height: 615px;
  justify-content: center;
  align-items: flex-start;
  column-gap: 30px;
  margin-top: 30px;
}

.movieTitle {
  max-width: 700px;
  font-size: 25px;
  min-height: max-content;
  margin-left: 50px;
  margin-bottom: 0;
}

.movieDescription, .movieRatings, .userRating {
  max-width: 1400px;
  background: var(--secondary-text-color);
  border-top: 3px solid var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.movieRatings{
  width: 50%;
  justify-content: center;
  margin-top: 10px;
  margin-right: auto;
}

.moviePoster {
  min-width: 473px;
  height: 615px;
}

.ratingsBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.ratingsWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-right: auto;
}

.ratingItem{
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-weight: 700;
}

.userRating{
  display: flex;
  flex-direction: column;
  width: 47%;
  height: 103px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.ratingTitle{
  font-size: 20px;
}

table {
  width: 897px !important;
  height: 615px;
}

.arrowIcon {
  width: 20px;
}

.imdb{
  background: #E2B616
}

.tomatoes{
  background: #FA320A;
  color: var(--secondary-text-color);
}

.metacritic{
  background: var(--primary-text-color);
  color: var(--secondary-text-color);
}

