.movieInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerRating{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.headerVotes{
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid var(--primary-color);
}

.movieHeader {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-bottom: 8px;
}

.movieWrapper {
  display: flex;
  height: 615px;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-top: 30px;
}

.movieInfoList{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.movieInfoItem{
  width: 600px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  font-weight: 700;
}

.movieTitle {
  max-width: 700px;
  font-size: 25px;
  min-height: max-content;
  margin-left: 50px;
  margin-bottom: 0;
}

.movieDescriptionTitle{
  margin-top: 30px;
  font-size: 20px;
}

.movieDescription{
  max-width: 1200px;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 17px;
}

.movieRatings, .userRating {
  max-width: 1400px;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
}


.movieRatings{
  width: 50%;
  justify-content: center;
  margin-top: 10px;
}

.moviePoster {
  min-width: 473px;
  height: 615px;
}

.ratingsBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center
}

.ratingsWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-right: auto;
}

.ratingItem{
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-weight: 700;
}

.userRating{
  display: flex;
  flex-direction: column;
  width: 47%;
  height: 103px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.ratingTitle{
  font-size: 20px;
}

table {
  width: 897px !important;
  height: 615px;
}

.movieReviews{
  font-size: 20px;
  margin-top: 30px;
}

.arrowIcon {
  width: 20px;
}

.imdb{
  background: #E2B616
}

.tomatoes{
  background: #FA320A;
  color: var(--secondary-text-color);
}

.metacritic{
  background: var(--primary-text-color);
  color: var(--secondary-text-color);
}

.rate{
  font-size: 23px;
  font-weight: 700;
}

.bad{
  color: #FF3244;
}

.mid{
  color: #777777;
}

.good{
  color: #3BB33B;
}
