.input{
  width: 400px;
  background: var(--secondary-text-color);
  border-radius: 5px;
  outline: none;
  padding: 7px 10px;
  margin-right: 5px;
}

@media(max-width: 620px){
  .input{
    width: 200px;
  }
}

@media(max-width: 350px){
  .input{
    width: 190px;
  }
}