.btn {
  display: inline-block;
  border-radius: 5px;
}

.primary {
  background: var(--primary-color);
  color: var(--secondary-text-color);
  transition: 0.3s all;

  &:hover {
    background: var(--secondary-color);
    color: var(--primary-text-color);
  }
}

.secondary {
  background: var(--secondary-color);
  color: var(--primary-text-color);
}

.transparent {
  background: transparent;
  color: var(--primary-text-color);
}

.disabled{
  opacity: .5;
  cursor: auto;
}

.small {
  padding: 3px;
}

.middle {
  padding: 7px;
}
