:root{
  --primary-color: #2c2c2c;
  --secondary-color: #F5BA00;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --bg-color: #eeeeee;
}

html, body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: var(--bg-color);
  color: var(--primary-text-color);
}

#root{
  display: flex;
  height: 100%;
  flex-direction: column;
}

main{
  flex-grow: 1;
  margin: 20px 0;
}

.container{
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}